*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
}

.stopwatch{
    margin: auto;
    text-align: center;
    padding: 30px
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.watch{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #979494;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}